<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>RSU Sample GUI</title>

  <!-- Bootstrap core CSS -->
  <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" />

</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">EMCS Sample GUI - SamlingHent services</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <form action="" method="post">
      <input class="btn btn-primary" type="submit" href="index.html" value="SamlingHent services"/>
      <input class="btn btn-primary" type="submit" name="_eventId_doc" value="Dokument services" />
      <input class="btn btn-primary" type="submit" name="_eventId_eu"  value="EU services" />
    </form>
  </div>
</nav>

<div class="container">

  <div class="row">
    <div class="col-12">&nbsp;
    </div>
  </div>

  <div class="row">

    <div class="col-6">

      <div class="card">

        <div class="card-header">
          <b>Service Request</b>
        </div>
        <div class="card-body">

          <form action="" method="post">
            <div class="form-group">
              <label class="col-form-label" for="serviceDropDown">Service navn</label>
              <select class="form-control" th:field="*{hentModel.serviceName}" id="serviceDropDown">
                <option th:value="OIOBeskedAfvisningSamlingHentClient">OIOBeskedAfvisningSamlingHentClient</option>
                <option th:value="OIOEksportAfvisningSamlingHentClient">OIOEksportAfvisningSamlingHentClient</option>
                <option th:value="OIOEksportAngivelseInvalideringNotifikationSamlingHentClient">OIOEksportAngivelseInvalideringNotifikationSamlingHentClient</option>
                <option th:value="OIOEksportGodkendelseSamlingHentClient">OIOEksportGodkendelseSamlingHentClient</option>
                <option th:value="OIOForsendelseAfbrydelseBeskedSamlingHentClient">OIOForsendelseAfbrydelseBeskedSamlingHentClient</option>
                <option th:value="OIOHaendelseRapportSamlingHentClient">OIOHaendelseRapportSamlingHentClient</option>
                <option th:value="OIOLedsageDokumentAnnulleringSamlingHentClient">OIOLedsageDokumentAnnulleringSamlingHentClient</option>
                <option th:value="OIOLedsageDokumentDestinationSkiftSamlingHentClient">OIOLedsageDokumentDestinationSkiftSamlingHentClient</option>
                <option th:value="OIOLedsageDokumentNotifikationSamlingHentClient">OIOLedsageDokumentNotifikationSamlingHentClient</option>
                <option th:value="OIOLedsageDokumentOmdirigeretAdvisSamlingHentClient">OIOLedsageDokumentOmdirigeretAdvisSamlingHentClient</option>
                <option th:value="OIOLedsageDokumentSamlingHentClient">OIOLedsageDokumentSamlingHentClient</option>
                <option th:value="OIOPaamindelseSamlingHentClient">OIOPaamindelseSamlingHentClient</option>
                <option th:value="OIOKvitteringSamlingHentClient">OIOKvitteringSamlingHentClient</option>
              </select>
            </div>
            <div class="form-group">
                <label class="col-form-label" for="virksomhedSENummerIdentifikator">SE nummer</label>
                <input class="form-control" required th:field="*{hentModel.virksomhedSENummerIdentifikator}" id="virksomhedSENummerIdentifikator"/>
            </div>
            <div class="form-group">
                <label class="col-form-label" for="afgiftOperatoerPunktAfgiftIdentifikator">Afgift ID</label>
                <input class="form-control" required th:field="*{hentModel.afgiftOperatoerPunktAfgiftIdentifikator}" id="afgiftOperatoerPunktAfgiftIdentifikator"/>
            </div>
            <div class="form-group">
              <label class="col-form-label" for="arcnumber">Ark nummer</label>
              <input class="form-control" th:field="*{hentModel.ARCnumber}" id="arcnumber"/>
            </div>
            <input type="submit" name="_eventId_test" value="Test" class="btn btn-primary"/>
          </form>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <b>Service Response</b>
        </div>
        <div class="card-body">
          <form name="response" action="#" method="get">
            <textarea class="form-control" id="response" rows="24" th:if="${hentResult != null}" th:text="${hentResult}"></textarea>
          </form>
        </div>
  </div>
</div>
  </div>
  <br>
  <br>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/assets/js/jquery-3.2.1.slim.min.js}"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
</div>
</body>
</html>
